@font-face {
    font-family: Determination;
    src: url('/assets/fonts/determinationmonoweb-webfont.ttf');
}

@font-face {
    font-family: UDLog;
    src: url('/assets/fonts/undertale-font-lowercase-b.ttf');
}

* {
    font-family: Determination;
    color: white;
}

.fontlog {
    font-family: UDLog;
}

body {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

p {
    font-size: 23px;
    margin: 0;
}