footer {
    display: flex;
    justify-content: space-around;
    border-top: 2px white solid;
    text-align: center;
    background-color: black;
    margin-bottom: 100px;
}

footer #logofooter {
    margin-top: 20px;
}

footer p:hover:not(#logocopy p),
footer a:hover {
    color: cyan;
}

footer a:hover {
    text-decoration: underline cyan;
}

#imgredes,
#ubicacion,
#extratext {
    display: flex;
    gap: 10px;
}

#ubicacion,
#extratext {
    flex-direction: column;
}

#logocopy p {
    font-size: 10px;
}

footer p {
    font-size: 16px;
}