#chatbot {
    display: flex;
    justify-content: right;
}

.WARNING {
    z-index: 999;
    position: fixed;
    scale: 2;
}

#chat {
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/MethatonButton2.png");
    position: fixed;
    top: 91%;
    right: 0.3%;
    filter: brightness(0.7);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat:hover {
    filter: brightness(1)
}