body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-bottom: 2px white solid;
    user-select: none;
    background-color: black;
}

header p:hover,
header h1:hover {
    color: cyan;
    cursor: pointer;
}

header,
.logo {
    height: 100px;
}

header a {
    text-decoration: none;
}

header h1 {
    align-self: center;
}

.logo {
    width: 350px;
}

#logoempress {
    display: flex;
    gap: 15px;
}

#menu {
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 1000;
    width: 760px;
}

.menuopts {
    width: max-content;
    height: 28px;
}

.opciones {
    display: none;
    position: absolute;
    border: 2px white solid;
    border-radius: 5%;
    padding: 8px 8px 8px 8px !important;
    top: 8.8%;
    background-color: black;
    gap: 15px;
    flex-direction: column;
}

.seccion {
    display: flex;
    flex-direction: column;
}

#actmenu {
    display: none;
}

@media (max-width: 1140px) {
    header {
        width: 100%;
    }
    #menu {
        flex-direction: column;
        display: none;
        position: absolute;
        border: 2px white solid;
        border-radius: 2%;
        right: 1%;
        top: 12%;
    }
    .menuopts {
        position: relative;
    }
    #actmenu {
        display: block;
        width: 50px;
    }
    .opciones {
        position: absolute;
        right: 30%;
    }
}