:root {
    --poscenter: 49%;
    --nonemenu: 26%;
    --ordercharactersleft: 34%;
    --ordercharacterstop: 110%;
    --undynebodytop: var(--ordercharacterstop);
    --undynebodyleft: var(--ordercharactersleft);
    --mettatonbodytop: calc(var(--ordercharacterstop) + (50%)); 
    --mettatonbodyleft: calc(var(--ordercharactersleft) - (3%));
    --alphysbodyleft: calc(var(--ordercharactersleft) - (4%));
    --alphysbodytop: calc(var(--ordercharacterstop) + (113%));
}

body {
    background-color: black;
}

img:not(header img) {
    image-rendering: pixelated;
}

button {
    background-color: black;
    border: 3px orange solid;
    font-size: 20px;
    color: orange;
    padding: 0;
}

#totalpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loteriasec {
    background-image: url('/assets/img/loterias.png');
    background-size: 300px;
}

#ofertassec {
    background-image: url('/assets/img/superofertas.jpg');
    background-size: 325px;
    background-position: 80% 50%;
}

#catalogossec {
    background-image: url('/assets/img/productcatalog.jpg');
    background-position: 70% 50%;
    background-size: 500px;
}

/* PRUEBAS */

.test {
    z-index: -1;
    border: 5px white solid;
    border-radius: 13%;
    width: 300px;
    height: 300px;
}

#testimg {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.imgpags {
    display: flex;
    gap: 200px
}

.imgpags p {
    align-self: center;
    text-align: center;
    justify-content: center;
}

/*#*    [ ANIMACIONES ] */

@keyframes showdialog {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}