@font-face {
    font-family: Determination;
    src: url('/fonts/determinationmonoweb-webfont.ttf');
}

@font-face {
    font-family: UDLog;
    src: url('/fonts/undertale-font-lowercase-b.ttf');
}

* {
    font-family: Determination;
    background-color: black;
    color: white;
}

p {
    font-size: 25px;
}

/*#*      [ MENU ]      */

header {
    display: flex;
    gap: 30px;
}

.logo {
    width: 150px;
    height: 150px;
    font-size: 75px;
    border: black 3px solid;
}

#menu {
    display: flex;
    gap: 20px;
}

#optinicio {
    display: none;
}